<div class="container-fluid">

  <div class="row justify-content-center">
    <div class="col-6">
      <h1 style="text-align: justify;">Quando não se sabe o que escrever, qualquer texto faz sentido</h1>
      <p style="text-align: justify;">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi similique neque ut libero expedita, cum natus ex voluptatem,
        dicta tempore dolor aliquid architecto quasi dolorum molestias accusantium suscipit est consequuntur obcaecati maiores
        minima aspernatur, ratione incidunt nulla! Sed nulla dicta, dignissimos porro molestias nobis dolores delectus harum
        at minima necessitatibus ut incidunt. Fuga labore eaque ducimus officia porro quasi numquam. Fugit nostrum quidem
        tenetur maiores, magnam cupiditate, iusto ratione ducimus quibusdam libero quaerat mollitia! Optio voluptate nihil
        qui obcaecati doloribus. Tempore, nesciunt expedita ut molestias, similique eaque odio, quasi commodi inventore cumque
        illum tempora voluptate aliquam magni itaque harum assumenda.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-block fake-image"></div>
        <div class="card-block">
          <h4 class="card-title">Beat Step X</h4>
          <p class="card-text frame-legend">
            <small>
              A Rhythm game.
            </small>
          </p>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <div class="card-block fake-image"></div>
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text frame-legend">
            <small>
              Some quick example text to build on the card title and make up the bulk of the card's content.
            </small>
          </p>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <div class="card-block fake-image"></div>
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text frame-legend">
            <small>
              Some quick example text to build on the card title and make up the bulk of the card's content.
            </small>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-block fake-image"></div>
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text frame-legend">
            <small>
              Some quick example text to build on the card title and make up the bulk of the card's content.
            </small>
          </p>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <div class="card-block fake-image"></div>
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text frame-legend">
            <small>
              Some quick example text to build on the card title and make up the bulk of the card's content.
            </small>
          </p>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <div class="card-block fake-image"></div>
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text frame-legend">
            <small>
              Some quick example text to build on the card title and make up the bulk of the card's content.
            </small>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
