<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1 style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit molestiae velit dolore dolorem</h1>
      <p style="text-align: justify;">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi similique neque ut libero expedita, cum natus ex voluptatem,
        dicta tempore dolor aliquid architecto quasi dolorum molestias accusantium suscipit est consequuntur obcaecati maiores
        minima aspernatur, ratione incidunt nulla! Sed nulla dicta, dignissimos porro molestias nobis dolores delectus harum
        at minima necessitatibus ut incidunt. Fuga labore eaque ducimus officia porro quasi numquam. Fugit nostrum quidem
        tenetur maiores, magnam cupiditate, iusto ratione ducimus quibusdam libero quaerat mollitia! Optio voluptate nihil
        qui obcaecati doloribus. Tempore, nesciunt expedita ut molestias, similique eaque odio, quasi commodi inventore cumque
        illum tempora voluptate aliquam magni itaque harum assumenda.
      </p>
    </div>
  </div>
</div>
